# docker-compose.yml
services:
  db:
    image: ankane/pgvector:latest # ここがポイント（pgvector入り）
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
